body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.css-generator {
	width: 100%;
	display: flex;
	justify-content: space-around;
	justify-content: space-around;
	align-items: center;
}


/* TABS-CHANGE */

.tabs {
	width: 300px;
	max-height: 500px;
	min-height: 300px;
	align-items: center;
}

.tabs-item {
	display: none;
}

.tabs {
	display: flex;
	flex-flow: column;
}

.active {
	display: block;
}


/* TAB-CONTENT */

.inputs {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.form {
	width: 200px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	padding-top: .3rem;
}

.options {
	margin-top: .5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

select {
	height: 20px;
}


/* BURGERMENU */
.block-scrool{
overflow: hidden;
}
.open {
	position: absolute;
	margin: .5rem;
}

.tab-button {
	width: 250px;
	height: 50px;
	background-color: white;
	border-radius: 10px;
	font-size: 30px;
	font-weight: bold;
	transition: .2s;
	border: none;
}

.hover-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
	height: 40px;
	width: 200px;
	border: 1px steelblue solid;
	font-size: 25px;
	cursor: pointer;
}

.hover-button:hover {
	background: steelblue;
}

.tab-button:hover {
	background-color: steelblue;
	color: white;
}

.burger-menu {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	visibility: hidden;
	background-color: rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(20px);
	z-index: 100000;
	transition: .2s;
	transform: translateX(-100%);
	width: 100%;
	overflow: hidden;
}

.burger-acitve {
	visibility: visible;
	transform: translateX(0%);
	overflow: hidden;
}

.burger-cont {
	display: flex;
	flex-flow: column;
	background-color: white;
	color: black;
	height: 100%;
	width: 325px;
	background-color: rgb(252, 252, 252);
}

.tab-button {
	margin-top: 1rem;
}

.btb {
	background-color: steelblue;
	color: white;
}

.tab-buttons {
	display: flex;
	flex-flow: column;
	align-self: center;
	margin-top: 2rem;
}


/* BOX-TEST */

.box {
	width: 550px;
	height: 550px;
	background-color: steelblue;
	position: absolute;
}

.box-test {
	width: 600px;
	height: 600px;
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.result {
	border: solid black 10px;
	width: 400px;
	font-size: 20px;
	max-height: 1050px;
}


/* INPUT */

input {
	display: flex;
	width: 100px;
}

input {
	margin-top: .5rem;
}

input[type=range] {
	-webkit-appearance: none;
	margin: 18px 0;
	width: 100%;
}

input[type=range]:focus {
	outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
	background: #367ebd;
}

input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}

input[type=range]::-ms-fill-lower {
	background: #2a6495;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
	background: #3071a9;
	border: 0.2px solid #010101;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
	background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
	background: #367ebd;
}

@media (max-width: 600px) {
	.css-generator {
		flex-flow: column;
		align-items: center;
	}
	.burger-cont {
		width: 100%;
		background: none;
	}
	.box-test {
		width: 300px;
		height: 300px;
	}
	.box {
		width: 250px;
		height: 250px;
	}
	.result {
		width: 300px;
		max-height: 1050px;
		display: flex;
		flex-flow: column;
		justify-content: start;
		margin-top: 4rem;
	}
}